.user-preferences {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.header-1 {
  padding-top: 2%;
  font-size: 64px;
  padding-bottom: 4%;
  display: flex;
  justify-content: center;
}

.preference-wrapper {
  /* background-color: #F1EDBF; */
  padding: 20px;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  /* border-radius: 5px;
  box-shadow: .5px .5px 1px 1px #594C51; */
}

.prefs {
  display: flex;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.addMovieBtn {
  display: flex;
  justify-content: center;
  background-color: #F9525A;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 30px;
  width: 100px;
  outline:0;
  cursor: pointer;
  margin: 0 auto;
  text-decoration: none;
    padding: 5px;
    border-bottom:1px solid #444; 
    cursor: pointer;
    font-size: 24px;
}

.addMovieBtn:hover {
  background-color: rgb(205, 50, 58);
  text-decoration: none;
  text-align: center;
  color: #f8f8f8;
}

.carouselImg {
  width: 150px;
  margin-left: 43%;
  margin-top: 3%;
}

.carousel {
  width: 100%;
  display: flex;
  height: 300px;
}

