.prefs {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.backBtn {
    background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 20px;
  width: 200px;
  outline:0;
  cursor: pointer;
  margin-top: 100px;
  text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
}

.addMovieBtn {
    background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 20px;
  width: 200px;
  outline:0;
  cursor: pointer;
  margin-top: 100px;
  text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
}

.back {
  padding-top: 17px;
}