.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50%;
}

.profPic {
    border-radius: 50%;
    width: 120px;
    margin-left: 27%;
    margin-bottom: 15px;
}

.newBtn {
  display: flex;
  margin-bottom: 5px;
  background-color: #00acb0;
  border-radius: 4px;
  padding: 10px;
  width: 77px;
  color: #f8f8f8;
  height: 18px;
  margin-left: 25px;
  outline:0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}