.groupDetails {
    margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.groupBtns {
  display: flex;
  justify-content: center;
  background-color: #F9525A;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 30px;
  width: 210px;
  outline:0;
  cursor: pointer;
  margin: 0 auto;
  text-decoration: none;
    padding: 5px;
    border-bottom:1px solid #444; 
    cursor: pointer;
    font-size: 24px;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.groupPics {
    border-radius: 50%;
    width: 70px;
    margin: 5px;
}

.modal-btn {
  display: flex;
  background-color: #00acb0;
  border-radius: 7px;
  margin: 1px;
  padding: 10px;
  width: 100%;
  color: #f8f8f8;
  height: 45px;
  outline:0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.group-member {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.header-2 {
  padding-top: 2%;
  font-size: 64px;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}

.detail-buttons {
  display: flex;
  padding: 3px;
}

.rewatch-item {
  display: flex;
  justify-content: center;
}

.rewatch-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}