.user-groups {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.groupsBtns {
  display: flex;
  justify-content: center;
  background-color: #F9525A;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 30px;
  width: 170px;
  outline:0;
  cursor: pointer;
  margin: 0 auto;
  text-decoration: none;
    padding: 5px;
    border-bottom:1px solid #444; 
    cursor: pointer;
    font-size: 24px;
}