/* .searchbar {
    display: flex;
}

.genreUpdate {
    padding-left: 30px;
}

.select-wrapper {
	position: relative;	
}

.select-wrapper:after {
  	content: '↓';
  	position: absolute;
  	top: 18px;
  	right: 190px;
  	color: #434B67;
  	pointer-events: none;
}

.select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
  height: 55px;
	padding: .6em 1.4em .5em .8em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

.select-padding {
  margin-top: 15px;
}

.buttons {
 margin-left: 20%;
 display: inline-block;
}

.addMovieBtn {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 20px;
  margin-top: 20px;
  margin-left: 5px;
  width: 100px;
  outline:0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.log-in {
    margin-top: 100px;
    margin-right: 90%;
} */

/* .search-results {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
} */